<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="topbar">
      <div class="topbar-inner fill">
        <div class="container">
          <h3><a class="brand" href="#">The S3 Cookbook</a></h3>
        </div>
      </div>
    </div>
    <div id="wrapper">
      <div class="row">
        <div id="sidebar" class="span4">
          {{{toc}}}
        </div>
        <div id="main" class="span12">
          {{{content}}}
        </div>
      </div>
    </div>
  </body>
</html>
